@using Services;
@using Model
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary btn-block rounded-3 w-100" @onclick="HandleButtonClick">Simular</button>
    </div>
</div>

@code {
    [CascadingParameter]
    private ISimuladorColasEsperaService simulador { get; set; }

    public Temporada Temporada { get; set; } = Temporada.Baja;
    public int Visitantes { get; set; }
    public double IngresosEsperados { get; set; }

    private void HandleTemporadaChange(Temporada newTemporada)
    {
        Temporada = newTemporada;
    }

    private void HandleCantidadVisitantesChange(int newCantidad)
    {
        Visitantes = newCantidad;
    }

    private void HandleIngresoEsperadoChange(double newIngreso)
    {
        IngresosEsperados = newIngreso;
    }
    private async Task OnFechaChange(DateTime fecha)
    {
        Visitantes = await simulador.VisitantesEstimados(fecha);
    }

    private void HandleButtonClick()
    {
        // Código para manejar el evento del botón
        // Puedes realizar acciones o invocar métodos aquí
        Console.WriteLine("El botón ha sido clickeado");
        simulador.Simular(Temporada, Visitantes, (int)IngresosEsperados);
    }
}
