@using Services;
@using Model
@inject ISimuladorColasEsperaService simulador
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary btn-block rounded-3 w-100" @onclick="HandleButtonClick">Simular</button>
    </div>
</div>

@code {
    //[CascadingParameter]

    public Temporada Temporada { get; set; } = Temporada.Baja;
    public int Visitantes { get; set; }
    public double IngresosEsperados { get; set; }

    private void HandleTemporadaChange(Temporada newTemporada)
    {
        Temporada = newTemporada;
    }

    private void HandleCantidadVisitantesChange(int newCantidad)
    {
        Visitantes = newCantidad;
    }

    private void HandleIngresoEsperadoChange(double newIngreso)
    {
        IngresosEsperados = newIngreso;
    }
    private async Task OnFechaChange(DateTime fecha)
    {
        Visitantes = await simulador.VisitantesEstimados(fecha);
    }

    private void HandleButtonClick()
    {
        Console.WriteLine("El botón ha sido clickeado");
        //var resp = simulador.Simular(Temporada, Visitantes, (int)IngresosEsperados);
        var resp = simulador.SimularV2((int)IngresosEsperados);
        Console.WriteLine(resp.Result);
    }
}
