<div class="row">
    <!-- ROW 1 DE STAR WARS TITULO -->
    <div class="col" style="text-align: center;">
        <h3>Star Wars Galaxy's Edge</h3>
    </div> <!--CIERRE COL 1 DE STAR WARS TITULO -->
</div> <!--CIERRE ROW 1 DE STAR WARS TITULO -->

<div class="row">
    <!-- ROW 2 DE MAPA DE STAR WARS -->
    <div class="col">
        <MapaParque></MapaParque>
    </div> <!--CIERRE COL 1 DE MAPA DE STAR WARS  -->
</div> <!--CIERRE ROW 2 DE MAPA DE STAR WARS  -->
@code {

}
