<footer>
    <!-- place footer here -->  
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="border-top: 3px solid black; border-radius: 5px; background-color: white;">
        <div class="container">    
            <span class="lead">&copySIMULACI&Oacute;N 2023 - Parque de Atracciones: Hollywood Studio [Star wars Galaxy's Edge]</span>
        </div>
    </nav>

</footer>


