<footer>
    <!-- place footer here -->  
    <div class="row">
        <div class="col">
            <span class="lead" style="padding-left: 20px;">&copySIMULACI&Oacute;N 2023 - Parque de Atracciones: Hollywood Studio [Star wars Galaxy's Edge]</span>
        </div>
    </div>
</footer>


