
<div class="row">
    <div class="col">
        <p>Ingreso esperado: </p>
    </div>
    <div class="col">
        @*<p>@ingreso</p>*@
        <input type="number" name="quantity" min="0" max="100" step="1" value="0">
    </div>
</div>


@code {
    [Parameter]
    public double ingreso { get; set; }
}
