@using Services
@inject IDistribucionesService DistribucionesService

<div class="row">
    <div class="col">
        <h3>Cantidad de Visitantes</h3>
    </div>
</div>

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-5 text-left">
        <p>Visitantes</p>
    </div>
    <div class="col-7">
        <input type="text" class="form-control" id="" name="showVisitants" readonly>
    </div>
</div>

<div class="row">
    <div class="col" >
        <div class="rz-p-6 rz-text-align-center">
            <RadzenSlider @bind-Value=@value TValue="int" />
        </div>
    </div>
</div>

<hr>

@code {
    double u;
    int value = 33;
    protected override Task OnInitializedAsync()
    {
        u = DistribucionesService.GenerarNumeroAleatorio();
        return base.OnInitializedAsync();
    }
}
