<div class="row">
    <div class="col">
        <h6>Maximo Visitantes por Nivel</h6>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Nivel 1</p>
        <p>Nivel 2</p>
        <p>Nivel 3</p>
        <p>Nivel 4</p>
    </div>
    <div class="col">
        <input type="text" class="form-control" id="" name="level1" readonly>
        <input type="text" class="form-control" id="" name="level2" readonly>
        <input type="text" class="form-control" id="" name="level3" readonly>
        <input type="text" class="form-control" id="" name="level4" readonly>
    </div>
</div>

@code {

}
