<div class="row">
    <div class="col">
        <h5>Fecha y temporada</h5>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Temporada</p>
    </div>
    <div class="col">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Alta</button>
            <button type="button" class="btn btn-primary">Baja</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Fecha</p>
    </div>
    <div class="col">
        <input type="date" class="form-control" id="fecha" name="fecha">
    </div>
</div>

@code {

}
