<div class="row">
    <div class="col">
        <h5>Fecha y temporada</h5>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Temporada</p>
    </div>
    <div class="col">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Alta</button>
            <button type="button" class="btn btn-primary">Baja</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Fecha</p>
    </div>
    <div class="col">
        <input type="month" class="form-control" id="fecha" name="fecha" min="2023-01" max="2023-12">
        @*<RadzenDropDown TValue="string" @bind-Value="@selectedItem">*@

            <!-- Agrega más opciones según tus necesidades -->
        @*</RadzenDropDown>*@


    </div>
</div>

@code {
   
}
