@using Services
@inject IDistribucionesService DistribucionesService

<div class="row">
    <div class="col">
        <h5>Cantidad de Visitantes</h5>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Visitantes</p>
    </div>
    <div class="col">
        <input type="text" class="form-control" id="" name="showVisitants" readonly>
    </div>
</div>

<div class="row">
    <div class="col"> 
        <div class="range">
            <input type="range" class="form-range" id="customRange1" />
        </div>
    </div>
</div>


@code {
    double u;
    protected override Task OnInitializedAsync()
    {
        u = DistribucionesService.GenerarNumeroAleatorio();
        return base.OnInitializedAsync();
    }
}
