@*@page "/mapaespera"*@
@using Model;
@using Services
@using Radzen.Blazor
@inject ISimuladorColasEsperaService simuladorService

<div id="map" style="width: 100%; height: 400px;"></div>

@code {
    
}
