@using Services
@using Model
@inject ISimuladorColasEsperaService simulador

<main>
    <div class="container"> <!-- CONTAINER DE MAIN-->
        <div class="container-principal container-fluid"> <!-- DIV DE CONTAINER PRINCIPAL: CONTIENE COLUMNA DE DATOS,FUNCIÓN Y MAPA -->
            <div class="row"> <!-- ROW 2 DE CONTENIDO>: CONTIENE DATOS  -->
                <div class="col-sm-4">
                    <!-- COL 1 DE INPUTS (UNICA COL DEL ROW)-->
                    <div class="contenedor_Datos">
                        <!-- CONTAINER DE INPUTS -->
                        <div class="p-3">
                            <InputTemporadaFecha></InputTemporadaFecha>
                            <hr> <!-- SEPARADOR DE FECHA/TEMPORADA Y CANTIDAD DE VISITANTES -->
                            <InputCantidadDeVisitantes></InputCantidadDeVisitantes>
                            <InputGanaciaEsperada></InputGanaciaEsperada>
                            <BotonSimular></BotonSimular>  
                        </div>
                    </div> <!--CIERRE CONTAINER DE INPUTS -->
                </div> <!--CIERRE COL 1 DE INPUTS-->
                <div class="col-sm-4" style="text-align: center;">
                    <!--COL 2 DE GRAFICA-->
                    <div class="row">
                        <!--ROW 1 DE ENTRADA EN OFERTA -->
                        <div class="col" style="text-align: center;">
                        </div>
                    </div> <!--CIERRE ROW 1 DE ENTRADA EN OFERTA -->
                    <div class="row">
                        <!--ROW 2 DE IMAGEN -->
                        <div class="col">
                            <div class="container">
                                <ConteinerFuncion></ConteinerFuncion>
                            </div>
                        </div>
                    </div> <!--CIERRE ROW 2 DE IMAGEN -->
                    <div class="row">
                        <!-- ROW 3 DE CANTIDAD VISITANTES -->
                        <div class="col" style="text-align: center;">
                            <p>Cantidad de Visitantes</p>
                        </div>
                    </div> <!--CIERRE ROW 3 DE CANTIDAD VISITANTES -->
                </div> <!--CIERRE COL 2 DE GRAFICA-->
                <div class="col-sm-4">
                    <!-- COL 3 DE MAPA -->
                    @*<ConteinerMapa></ConteinerMapa>*@
                    <div class="p-3" style="height: 400px; overflow-y: scroll; border-radius: 20px;
                        border: 3px solid black; align-items: center; justify-content: center;">
                        <TablaTiemposDeEspera></TablaTiemposDeEspera>
                    </div>
                </div> <!--CIERRE COL 3 DE MAPA -->
            </div> <!--CIERRE ROW 2 DE CONTENIDO-->
        </div> <!-- CIERRE DE CONTAINER PRINCIPAL-->
    </div> <!-- CIERRE DE CONTAINER DE MAIN-->
</main>

<Footer></Footer>

@code {
    
}

