@using Services
@using Model
@inject ISimuladorColasEsperaService simulador

<main>
    <div class="container-fluid text-center">
        <!-- CONTAINER DE MAIN-->
        <div class="row">
            <!-- Todo el contenido de la vista main -->

            <div class="col-sm-3 p-0">
                <div class="p-3 mb-1 contenedor_Datos container-fluids">
                    <div class="">
                        <InputTemporadaFecha></InputTemporadaFecha>
                        <hr> <!-- SEPARADOR DE FECHA/TEMPORADA Y CANTIDAD DE VISITANTES -->
                        <InputCantidadDeVisitantes></InputCantidadDeVisitantes>
                        <InputGanaciaEsperada></InputGanaciaEsperada>
                        <BotonSimular></BotonSimular>
                    </div>
                </div>
            </div> <!--CIERRE COL 1 DE INPUTS-->

            <div class="col-sm-4 p-1">
                <!-- COL DE FUNCION -->
                <div class="p-2 mb-1 contenedor_Datos container-fluids">
                    <div class="row">
                        <div class="col" >
                            <h3>Función</h3>
                        </div>
                    </div> 
                    <div class="row">
                        <!--ROW DE FUNCION -->
                        <div class="col">
                                <ConteinerFuncion></ConteinerFuncion>
                            <p>Cantidad de Visitantes</p>
                        </div>
                    </div> <!--CIERRE ROW DE FUNCION -->
                </div>
                <div class="row" style="padding-left:15px; padding-right:15px;">
                        <!--ROW DE FUNCION -->
                        <div class="col contenedor_Tabla">
                            <TablaTiemposDeEspera></TablaTiemposDeEspera>
                        </div>
                    </div> <!--CIERRE ROW DE FUNCION -->


                
            </div> <!--CIERRE COL DE FUNCION -->

            <div class="col-sm-5 p-0">
                <div class="p-2 contenedor_Datos">
                <!-- COL 3 DE MAPA -->
                <ConteinerMapa></ConteinerMapa>
                    @*<TablaTiemposDeEspera></TablaTiemposDeEspera>*@
                </div>
            </div> <!--CIERRE COL 3 DE MAPA -->

        </div> <!-- CIERRE DE ROW QUE CONTIENE A TODO EL MAIN-->

    </div> <!-- CIERRE DE CONTAINER DE MAIN-->
</main>



@code {
    
}

